
.hero-section {
  display: flex;
  width: 100%;
}

.page-section {
  margin-bottom: 6em;
}

.collections-section {
  .home-section-header {
    h1 {
      font-size: 20pt;
      color: var(--blue-accent);
    }
    button {
      svg {
        height: 15px;
        width: auto;
        margin-left: 10px;
      }
    }
  }
}

.call-to-action {
  flex: 1;
  p {
    margin-top: 0;
    max-width: 80%;
    font-size: 35pt;
  }
  button {
    width: auto;
    height: 80px;
    font-size: 25pt;
    svg {
      height: 40px;
      width: auto;
      margin-left: 10px;
      transform: translateY(1px);
    }
  }
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    max-width: 600px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(-3deg);
    z-index: 2;
  }
  svg {
    position: absolute;
    z-index: 1;
    top: -40%;
    width: 90%;
    height: auto;
  }
}

.collections-wrapper {
  padding: 3em 0;
  display: grid;
  // grid-template-columns: auto auto auto;
  .collection {
    display: flex;
    max-width: 500px;
    margin: 1em 0;
    grid-gap: 1rem;
    .collection-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .collection-name {
      font-weight: bold;
    } 
    .collection-description {
      margin: 10px 0;
    }
    .collection-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--blue-accent);
      font-weight: bold;
      transition: all ease 0.3s;
      &:hover {
        transform: translateX(3px);
      }
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      margin-right: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
    }
  }
}

.artists-wrapper {
  padding: 3em 0;
  display: grid;
  .artist{
    max-width: 300px;
    cursor: pointer;
    margin: 1em 0;
    grid-gap: 2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--almost-white);
    border-radius: 10px;
    padding: 0.8em;
    transition: all ease 0.5s;
    .image-wrapper {
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: auto;
        height: 200%;
        margin-right: 20px;
        // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .artist-info {
      display: flex;
      flex-direction: column;
      padding: 0 5px;
      .artist-name {
        font-weight: bold;
        margin-top: 1em;
      }
      span {
        margin: 5px 0;
      }
      svg {
        color: var(--blue-accent);
      }
    }
    .artist-bio{
      margin: 10px 0;
    }
    .collection-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--blue-accent);
      font-weight: bold;
      transition: all ease 0.3s;
      &:hover {
        transform: translateX(3px);
      }
    }
    &:hover {
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
      transform: translateY(3px);
    }

  }
}

@media (min-width: 900px) {
  .artists-wrapper {
    grid-template-columns: repeat(2, 1fr); 
    width: 100%;
    // justify-items: center;
  }
  .artist {
    max-width: 100%;
  }
}


@media (min-width: 1000px) {
  .collections-wrapper { 
    grid-template-columns: repeat(2, 1fr); 
  }  
  .artists-wrapper {
    grid-template-columns: repeat(2, 1fr); 

  }
}

@media (min-width: 1200px) {
  .collections-wrapper { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .artists-wrapper {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 1600px) {
  .collections-wrapper { 
    grid-template-columns: repeat(3, 1fr); 
  }
  .artists-wrapper {
    grid-template-columns: repeat(4, 1fr); 
  }
}
