.hero-section {
  display: flex;
  width: 100%;
}

.page-section {
  margin-bottom: 6em;
}

.collections-section .home-section-header h1 {
  font-size: 20pt;
  color: var(--blue-accent);
  margin-bottom: 0px;
}

.collections-section .home-section-header button svg {
  height: 15px;
  width: auto;
  margin-left: 10px;
}

.call-to-action {
  flex: 1;
  margin-top: 2em;
}

.call-to-action p {
  margin-top: 0;
  max-width: 90%;
  font-size: 25pt;
  font-family: 'Poppins Black', sans-serif;
}

.call-to-action button {
  width: auto;
  height: 80px;
  font-size: 20pt;
}

.call-to-action button svg {
  height: 40px;
  width: auto;
  margin-left: 10px;
  transform: translateY(1px);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-image img {
  max-width: 75%;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-2deg);
  z-index: 2;
}

.hero-image svg {
  position: absolute;
  z-index: 1;
  top: -40%;
  width: 90%;
  height: auto;
}

.collections-wrapper {
  padding: 3em 0;
  display: grid;
}

.collections-wrapper .collection-preview {
  display: flex;
  max-width: 500px;
  margin: 1em 0;
  grid-gap: 1rem;
}

.collections-wrapper .collection-preview .collection-preview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collections-wrapper .collection-preview .collection-name {
  font-weight: bold;
}

.collections-wrapper .collection-preview .collection-description {
  margin: 10px 0;
}

.collections-wrapper .collection-preview .collection-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--blue-accent);
  font-weight: bold;
  transition: all ease 0.3s;
}

.collections-wrapper .collection-preview .collection-link:hover {
  transform: translateX(3px);
}

.collections-wrapper .collection-preview img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.artists-wrapper {
  padding: 3em 0;
  display: grid;
}

.artists-wrapper .artist {
  max-width: 300px;
  cursor: pointer;
  margin: 1em 0;
  grid-gap: 2em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: var(--almost-white);
  border-radius: 10px;
  padding: 0.8em;
  transition: all ease 0.5s;
}

.artists-wrapper .artist .image-wrapper {
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.artists-wrapper .artist .image-wrapper img {
  width: auto;
  height: 200%;
  margin-right: 20px;
}

.artists-wrapper .artist .artist-info {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.artists-wrapper .artist .artist-info .artist-name {
  font-weight: bold;
  margin-top: 1em;
}

.artists-wrapper .artist .artist-info span {
  margin: 5px 0;
}

.artists-wrapper .artist .artist-info svg {
  color: var(--blue-accent);
}

.artists-wrapper .artist .artist-bio {
  margin: 10px 0;
}

.artists-wrapper .artist .collection-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--blue-accent);
  font-weight: bold;
  transition: all ease 0.3s;
}

.artists-wrapper .artist .collection-link:hover {
  transform: translateX(3px);
}

.artists-wrapper .artist:hover {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  transform: translateY(3px);
}

@media (min-width: 900px) {
  .artists-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .artist {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .collections-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .artists-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .collections-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .artists-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .collections-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .artists-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1600px) {
  .call-to-action p {
    margin-top: 0;
    max-width: 100%;
    font-size: 30pt;
    font-family: 'Poppins Black', sans-serif;
  }
}
