.user-wrapper.page-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.user-wrapper {
  width: 100%;
  margin: auto;
}

.user-wrapper .profile-wrapper {
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user-wrapper .cards-container {
  padding: 0 6em;
}

.user-wrapper .user-info-wrapper {
  display: flex;
  align-items: center;
  padding: 0 6em;
  margin: auto;
}

.user-wrapper .profile-wrapper {
  margin-right: 1.5em;
}

.user-reward-wrapper {
  display: flex;
  align-items: center;
}

.user-reward-wrapper button {
  height: 30px;
}

.user-reward-wrapper button:disabled {
  filter: brightness(70%);
}

.content-filter-wrapper {
  height: 60px;
  width: 100%;
  background: var(--input);
  margin-top: 3em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-filter-wrapper .content-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5em;
  height: 100%;
  border: none;
  background: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  transition: all ease 0.3s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-size: 1em;
}

.content-filter-wrapper .content-filter.active {
  border-bottom: 2px solid var(--blue-accent);
  color: var(--blue-accent);
}

.user-info svg {
  cursor: pointer;
  width: 20px;
  color: var(--blue-accent);
  margin: 0 5px;
  transition: all ease 0.3s;
}

.user-info .user-name {
  font-weight: bold;
  text-transform: capitalize;
}

.user-info .user-address {
  padding-left: 0.5em;
  font-size: 0.9em;
}

.user-content {
  width: 100%;
  padding: 1em 6em;
}

.user-content .search-wrapper {
  position: relative;
}

.user-content .search-wrapper input {
  width: 100%;
  height: 50px;
  padding-left: 3em;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.user-content .search-wrapper svg {
  position: absolute;
  top: 50%;
  color: var(--blue-accent);
}

.user-wrapper.page-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.user-wrapper {
  width: 100%;
  margin: auto;
}

.user-wrapper .profile-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.user-wrapper .profile-wrapper img {
  width: 200px;
  height: auto;
}

.user-wrapper .user-info-wrapper {
  display: flex;
  align-items: center;
  padding: 0 6em;
  margin: auto;
}

.user-wrapper .profile-wrapper {
  margin-right: 1.5em;
}

.user-info svg {
  cursor: pointer;
  width: 20px;
  color: var(--blue-accent);
  margin: 0 5px;
  transition: all ease 0.3s;
}

.user-info .user-name {
  font-weight: bold;
  text-transform: capitalize;
}

.user-info .user-address {
  padding-left: 0.5em;
  font-size: 0.9em;
}

.user-content {
  width: 100%;
  padding: 1em 6em;
}

.user-content .search-wrapper {
  position: relative;
}

.user-content .search-wrapper input {
  width: 100%;
  height: 50px;
  padding-left: 3em;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.user-content .search-wrapper svg {
  position: absolute;
  top: 50%;
  color: var(--blue-accent);
}

@media (max-width: 1000px) {
  .user-info-wrapper {
    padding: 0 1em !important;
  }
}

@media (max-width: 500px) {
  .user-info-wrapper {
    flex-direction: column;
  }
  .profile-wrapper {
    margin-right: 0 !important;
  }
  .user-info {
    margin-top: 2em;
  }
}
