.footer-wrapper {
  width: 100%;
  height: auto;
  
  
}

.footer-top {
  color: var(--gold-accent);
  background: var(--almost-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em;
}

.footer-top .footer-section {
  display: flex;
}

.footer-top .footer-section ul {
  list-style-type: none;
  text-align: right;
  margin-left: 2em;
}

.footer-top .footer-section ul li {
  margin: 1em 0;
  font-weight: 300;
  transition: all ease 0.3s;
}

.footer-top .footer-section ul li:not(:first-child):hover {
  transform: translateX(-5px);
}

.footer-top .footer-section ul a {
  text-decoration: none;
  color: white;
}

.footer-top .footer-section ul .footer-first {
  font-weight: bold;
  font-size: 1.2em;
  color: var();
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 6em;
}

.footer-bottom .footer-socials {
  display: flex;
  align-items: center;
}

.footer-bottom .footer-socials .social-icons {
  transform: translateY(1px);
}

.footer-bottom .footer-socials .social-icons svg {
  margin-left: 2em;
  color: var(--almost-purple);
  transition: all ease 0.3s;
}

.footer-bottom .footer-socials .social-icons svg:hover {
  transform: scale(1.1) rotate(360deg);
}

@media (max-width: 1300px) {
  .footer-top {
    flex-direction: column;
    padding: 0 1em;
  }
  .footer-section ul {
    text-align: center !important;
    margin: 0 1em !important;
    transform: translateX(-30px);
    width: 100% !important;
  }
  .footer-section {
    margin-bottom: 2em;
  }
}

@media (max-width: 800px) {
  .footer-top {
    flex-direction: column;
    padding: 0 1em;
  }
  .footer-section ul {
    text-align: center !important;
    margin: 0 1em !important;
    transform: translateX(-30px);
    width: 100% !important;
  }
  .footer-section {
    margin-bottom: 2em;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .footer-bottom {
    flex-direction: column;
    padding: 1em 1em;
  }
  .footer-socials {
    width: 100%;
  }
  .footer-socials .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }
  .footer-socials .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-socials .social-icons a svg {
    margin: 0 1em;
  }
}
