.footer-wrapper {
  width: 100%;
  height: auto;
}

.footer-top {
  color: white;
  background: var(--blue-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em;
  .footer-section {
    display: flex;
    ul {
      list-style-type: none;
      text-align: right;
      margin-left: 2em;
      li {
        margin: 1em 0;
        font-weight: 300;
        transition: all ease 0.3s;
        &:not(:first-child):hover {
          transform: translateX(-5px);
        }
      }
      a {
        text-decoration: none;
        color: white;
      }
      .footer-first {
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 6em;
  .footer-socials {
    display: flex;
    align-items: center;
    .social-icons {
      transform: translateY(1px);
      svg {
        margin-left: 2em;
        color: var(--blue-accent);
        transition: all ease 0.3s;
        &:hover {
          transform: scale(1.1) rotate(360deg);
        }
      }
    }
  }

}

@media (max-width: 1300px) { 
  .footer-top {
    flex-direction: column;
    padding: 0 1em;
  }
  .footer-section ul {
    text-align: center !important;
    margin: 0 1em !important;
    transform: translateX(-30px);
    width: 100% !important;
  }
  .footer-section {
    margin-bottom: 2em;
    // flex-direction: column;
  }
}

@media (max-width: 800px) { 
  .footer-top {
    flex-direction: column;
    padding: 0 1em;
  }
  .footer-section ul {
    text-align: center !important;
    margin: 0 1em !important;
    transform: translateX(-30px);
    width: 100% !important;
  }
  .footer-section {
    margin-bottom: 2em;
    flex-direction: column;
  }
}


@media (max-width: 600px) { 
  .footer-bottom {
    flex-direction: column;
    padding: 1em 1em;
  }
  .footer-socials {
    width: 100%;
    .social-icons {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1em 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a svg {
        margin: 0 1em;
      }
    }
  }
}