.mint-wrapper {
  width: 60%;
  margin: auto;
}

.mint-wrapper .primary-button {
  width: 100%;
}

.mint-wrapper form {
  margin-bottom: 5em;
}

.mint-header {
  margin-bottom: 1em;
}

.mint-header h1 {
  margin-bottom: 5px;
  margin-top: 0;
}

.mint-header b {
  color: red;
  font-weight: normal;
}

.user-collections-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15em;
  border-radius: 5px;
}

.user-collections-wrapper button {
  border: none;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

.user-collections-wrapper button svg {
  margin-right: 10px;
}

.user-collections-wrapper .user-collections-container {
  max-height: 500px;
  overflow-y: auto;
}

.user-collections-wrapper .user-collection {
  background: var(--input);
  border-radius: 10px;
  margin: 10px 0;
  transition: all ease 0.3s;
  border: 1px solid var(--border-color);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  color: black;
  cursor: pointer;
}

.user-collections-wrapper .user-collection:hover {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}

.user-collections-wrapper .user-collection:active {
  transform: translateY(3px);
}

.user-collections-wrapper .user-collection svg {
  margin-right: 0.3em !important;
  width: 20px;
  height: 20px;
}

.mint-input-section {
  margin-bottom: 1em;
}

.mint-input-section .collection-dropdown {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 47px;
  background: var(--input);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
}

.mint-input-section .collection-dropdown svg {
  color: var(--gold-accent);
  margin-right: 1em;
}

.mint-input-section .hint {
  font-size: 0.7em;
  display: block;
  margin: 3px 0;
}

.mint-input-section span {
  display: block;
}

.mint-input-section input, .mint-input-section textarea {
  height: 45px;
  border-radius: 10px;
  background: var(--input);
  border: 1px solid var(--border-color);
  padding-left: 1em;
  width: 100%;
  max-width: 100%;
}

.mint-input-section textarea {
  height: 80px;
  padding-top: 1em;
  font-family: 'Poppins', sans-serif;
  min-width: 100%;
  max-width: 100%;
}

.mint-input-section b {
  color: red;
  font-weight: normal;
}

.creator-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  min-width: 100%;
}

.creator-wrapper .creator-input {
  flex: 2;
  margin-right: 1em;
}

.creator-wrapper .revenue-input {
  flex: 1;
}

.new-creator-button {
  width: 100%;
  height: 47px;
  color: var(--gold-accent);
  border-radius: 10px;
  border: none;
  border: 1px solid var(--gold-accent);
  background: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-creator-button svg {
  width: 15px;
  margin-right: 5px;
}

.new-creator-button:hover {
  filter: brightness(90%);
}

.new-collection-wrapper {
  width: 70%;
  height: auto;
  max-height: 80%;
  background-color: var(--almost-white);
  border-radius: 10px;
  padding: 2em;
  overflow-y: scroll;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.new-collection-wrapper .create-collection {
  width: 100%;
}

.mint-steps {
  display: flex;
  margin-bottom: 1em;
}

.mint-steps .mint-step {
  display: flex;
}

.mint-steps .mint-step span {
  cursor: pointer;
}

.mint-steps .mint-step span.active {
  color: var(--gold-accent);
}

.mint-steps .mint-step svg {
  margin: 0 1em;
  width: 20px;
  transform: translateY(-1px);
}

@media screen and (max-width: 1600px) {
  .mint-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .mint-wrapper {
    width: 90%;
  }
}
