body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-image: url("./assets/crossword.png");
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.secondary {
  color: var(--secondary-text);
}

.page-wrapper {
  padding: 0 6em;
  padding-top: 4em;
  animation: fadeIn ease 0.3s;
}

.primary-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 1em 1em;
  background: var(--blue-accent);
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all ease 0.3s;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.primary-button svg {
  transform: translateY(1px);
  margin-left: 3px;
}

.primary-button:hover {
  filter: brightness(80%) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.primary-button:active {
  transform: translateY(3px);
}

.fadeIn {
  animation: fadeIn ease 0.3s;
}

.fadeInLonger {
  animation: fadeIn ease 0.5s;
}

iframe {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .page-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }
  .cards-container {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}
