.nav-wrapper .nav-wrapper-large {
  display: flex;
  max-width: 100%;
  height: 80px;
  padding: 0 6em;
  align-items: center;
  border-bottom: 1px solid var(--input);
}

.nav-wrapper .nav-wrapper-large .site-title {
  color: var(--blue-accent);
  font-weight: bolder;
  font-size: 20pt;
  text-decoration: none;
}

.nav-wrapper .nav-wrapper-large button {
  background: inherit;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 0;
}

.nav-wrapper .nav-wrapper-large a {
  text-decoration: none;
}

.nav-wrapper-small {
  display: none;
}

.nav-search-wrapper {
  width: 100%;
}

.dropdown-wrapper {
  position: relative;
  background: var(--blue-accent);
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 5px 1em;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 10;
}

.dropdown-wrapper svg {
  margin-left: 5px;
}

.dropdown-items-wrapper {
  background: white;
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  padding: 1em 0;
}

.dropdown-items-wrapper.active {
  display: flex;
  height: auto;
  width: 200px;
  flex-direction: column;
  border-radius: 10px;
}

.dropdown-items-wrapper .multi {
  display: none;
}

.nav-links-wrapper {
  margin-right: 1em;
  display: flex;
}

.dropdown-item {
  color: var(--almost-black);
  text-align: center;
  display: flex;
  margin: 5px 0;
  transition: all ease 0.3s;
}

.dropdown-item svg {
  margin: 0;
  margin-left: 20px;
  margin-right: 5px;
  width: 20px;
}

.dropdown-item a {
  color: var(--almost-black);
  text-decoration: none;
  transition: all ease 0.3s;
}

.dropdown-item:hover {
  color: var(--blue-accent);
  background: rgba(0, 0, 0, 0);
}

.dropdown-item:hover a {
  color: var(--blue-accent);
}

.nav-wrapper ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrapper ul li {
  margin: 0 1em;
}

.nav-wrapper ul li a {
  text-decoration: none;
  color: var(--secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.1s;
}

.nav-wrapper ul li a svg {
  margin-right: 5px;
  height: 20px;
  transform: translateY(-1px);
}

.nav-wrapper ul li a.active {
  color: var(--blue-accent);
}

.nav-wrapper ul li a:hover {
  color: var(--blue-accent);
}

@media (max-width: 1200px) {
  .nav-links-wrapper {
    display: none;
  }
  ul {
    width: auto !important;
  }
  .dropdown-items-wrapper .multi {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .nav-wrapper .nav-wrapper-large {
    padding: 0 1em;
  }
}

@media (max-width: 550px) {
  .nav-wrapper-large {
    justify-content: space-between;
    height: auto !important;
  }
  .nav-wrapper-large .nav-search-wrapper {
    display: none;
  }
  .nav-wrapper-small {
    display: block;
    padding: 0 1em;
  }
  .nav-wrapper-small .top-search-wrapper {
    margin: 0;
    width: 100%;
  }
}
